h5{
    font-size: 40px;
}

.h4-class{
    margin-top: -30px;
}

input[type=radio] {
    transform: scale(1.5);
}

.bg-activia{
    background-color: #e8e8ec;
}

.card-header-2{
    height: 2.6em;
}

.h4-cards{
    font-size: 20px;
}

@media only screen and (max-width:600px){
    h5{
        font-size: 25px;
    }
    .card-responsive-5{
        padding-top: 5%;
    }
}