.online-block {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: #000;
  margin-top: 10px;
  padding: 15px;
  overflow: hidden;
}

.online-services-wrap {
  padding: 0;
}
.online-services-wrap .category div {
  height: 100%;
  width: 100%;
  padding: 14px 35px 14px 15px;
  position: relative;
  font-size: 17px;
  line-height: 1.1;
  font-weight: 500;
  color: #fff;
}

.online-services-wrap .category .caret2 {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 100%;
  background-size: 13px 8px;
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-image: url(https://prod.jam-soft.ru/media/upload/5d84b8841e1a4d16108b465f.png);
}

.online-services-wrap.active .category .caret2 {
  background-image: url(https://prod.jam-soft.ru/media/upload/5b9243ea1e1a4d980b8b45df.png);
}

.services{
    font-size: medium;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

input[type=checkbox] {
    transform: scale(2);
    /* margin-left: 85%; */
}

#btn-sub{
    font-size: large;
}